<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>


<div class="question solepadding">
<%= @question %>
<p><i>-You</i></p>
</div>

<div class="response solepadding">
<b><%= @response %></b>
<p><i>-Your coach</i></p>
</div>
